
          /* SECCION CON BEM*/

          /* MIXIN */

      @mixin sizes ($width, $height) {
        height: $height;
        width: $width;
     
      }

      $color1: #CCD5AE;

          .carousel{
            margin-top: 2rem;
            margin-bottom: 2rem;
            .carousel--Tamano{
              @include sizes (100%,450px)
            }
          }
          

        /* ESTILO SOBRE FORM - BOTON BOOSTRAP */
.btn{
    background-color: $color1
    
  }
  
  /* ------------ESTILOS CONTACTO------------------------------------- */
  .form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  