
          /* OPERADORES*/

          @mixin sizes ($width, $height) {
            height: $height;
            width: $width;
          }

          .flex{
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          $color1: #CCD5AE;

          /* ESTILOS  */
          .section3{
            .section3__padreMain1 {
              @extend .flex;
              justify-content: center;
              background-color: #E9EDC9;
                .section3__hijoMain1 {
                  @extend .flex;
                  padding: 3rem;
                  flex-wrap: wrap;
                  background-color: #E9EDC9;
                }
                .section3__hijoMain2{
                  @extend .flex;
                padding: 3rem;
                flex-wrap: wrap;
                background-color: #E9EDC9;

                .textoYfoto{
                  @extend .flex;
                  font-weight: 500;
                  font-size: 2.2rem;
                  padding: 2rem;
                  border-style: solid;
                  border-width: thin;
                  border-color: #292929;
                }
                .parrafos{
                  text-align: center;
                  display: block;
                  font-size: 2rem;
                  color: #041527;
                  font-weight: 300;
                  letter-spacing: 0.5px;
                  line-height: 3rem;
                  margin-block-start: 10px;
                  margin-block-end: 10px;
                  margin-inline-start: 0px;
                  margin-inline-end: 0px;
                  margin: 2rem;
                }

              }
            }
          }
          
          .section3--fotoJunta {
            display: inline-block;
            max-width: 100%;
            @include sizes(800px,300px)
          }


              /* SECCION CON BEM*/
              
    .containerFlex{
      @extend .flex;
        margin: 2rem;
          .containerflex--estilocaja{
            border-style: solid;
            border-width: thin;
            border-color: #c59d5f;
            .containerflex__tituloBox{
              font-weight: bold;
              margin-top: 2rem;
              font-size: 2rem;
              text-align: center;
              opacity: 1;
              }
            } 
        }
  
        /* FLEX SOBRE SECTION EN SERVICIOS  */

.padreServicios {
  @extend .flex;
    background-color: #E9EDC9;
 
  .hijoServicios {
    padding: 3rem;
    flex-wrap: wrap;
    padding: 0rem;
    background-color: #E9EDC9;

  }
}
  
img {
  border-style: solid;
  border-width: thin;
 border-color: #DBDBD1;
  max-width: 100%
  }
