

 /* VARIABLES */

 $color1: #CCD5AE;
 $color2:#6b705c;
 $color3:#d5d5d5;

 /* OPERADORES */
 $padding:1rem;
 $margin:1rem;
          
  /* --------------FORMATO SOBRE FOOTER------------------------- */

.footer--color {
  background-color: #ccd5ae;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

/* -------FLEX SOBRE FOOTER----- */

.footer--position{
    align-items: center;
    padding: ($padding -1);
  text-align: center;
  justify-items: end;
    }

.footer__elementoFooter {
  color: #ccd5ae;
  font-size: 2.5rem;
  text-decoration: none;
  background-color: #ccd5ae;
}