

 /* VARIABLES */

 $color1: #CCD5AE;
 $color2:#6b705c;
 $color3:#d5d5d5;

 /* OPERADORES */
 $padding:1rem;
 $margin:1rem;
          
  /* --------------FORMATO SOBRE FOOTER------------------------- */

footer{     
.footer--color {
  background-color: $color1;
/*   bottom: 0px; */
  margin-top: 0.25rem;
  margin-bottom: 0rem;
}
.footer--position{
  align-items: center !important;
  padding: ($padding -1); //SECION CON OPERADOR//
text-align: center ;
justify-items: center;
  }
.footer__elementoFooter1 {
  background-color: $color1;
  color:rgba(0,0,0,.5) ;
  font-size: 2.5rem;
  text-decoration: none;
  text-align: center;
  justify-content: center;
} 
}