
* {
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 2rem;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Source Sans Pro", sans-serif;
    color: #041527;
  }



  @import "header";
  @import "footer";
  @import "flexbox";
  @import "bootsrap";
  @import "grilla";
  @import "titulosyparrafos";
  @import "queries";
 
  